body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

#app {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles for table */
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: nowrap;
}

th {
  background-color: #f2f2f2;
}

.nav button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

input, button, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  width: 90%;
  z-index: 10;
}

.suggestions-list li {
  padding: 5px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f1f1f1;
}

textarea {
  resize: vertical;
}

label {
  margin-top: 10px;
  display: block;
}

#query-time-result-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Responsive design for mobile */
@media screen and (max-width: 600px) {
  #app {
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }

  table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  th, td {
    font-size: 12px;
    padding: 6px;
  }

  th {
    font-size: 14px;
  }

  input, button, select, textarea {
    font-size: 14px;
    padding: 8px;
  }

  .nav button {
    padding: 8px;
    font-size: 14px;
  }
}
